<div class="site" >
  <nav class="site-nav flex-center bg-primary-dark">
    <div class="icon-bar">
      <div class="nav">
      <a routerLink="/login" routerLinkActive="active-link" class="bg-primary-light">LogIn Seite</a>
      <a routerLink="/admin-select" routerLinkActive="active-link" class="bg-primary-light">Auswahlseite</a>
      <a routerLink="/student-control" routerLinkActive="active-link" class="bg-primary-light">Student administration</a>
      <a routerLink="/add-student" routerLinkActive="active-link" class="bg-primary-light">add-student</a>
      <a routerLink="/stuff-control" routerLinkActive="active-link" class="bg-primary-light">Stuff administration</a>
      </div>
    </div>
  </nav>
  <main class="site-content bg-primary">

    <section class="content-topic flex-center bg-primary">
      <!--      <h1 class="section-title text-color-light">TOPIC</h1>-->
      <router-outlet></router-outlet>
    </section>
    <footer class="bg-primary-dark">
      <a class="text-color-light">footer: fixed height</a>
    </footer>
  </main>
</div>
