<div class="mainStructure">
  <nav class="site-nav flex-center bg-primary-dark">
    <div class="icon-bar">
      <div class="nav">
        <a routerLink="/login" routerLinkActive="active-link" class="bg-primary-light">LogIn Seite</a>
        <a routerLink="/admin-select" routerLinkActive="active-link" class="bg-primary-light">Auswahlseite</a>
        <a routerLink="/student-control" routerLinkActive="active-link" class="bg-primary-light">Student
          administration</a>
        <a routerLink="/add-student" routerLinkActive="active-link" class="bg-primary-light">add-student</a>
        <a routerLink="/stuff-control" routerLinkActive="active-link" class="bg-primary-light">Stuff administration</a>
        <a routerLink="/student-work" routerLinkActive="active-link" class="bg-primary-light">Studenten WorkPage</a>
      </div>
    </div>
  </nav>
  <main class="site-content bg-primary">

    <section class="content-topic flex-center bg-primary">
      <!--      <h1 class="section-title text-color-light">TOPIC</h1>-->
      <router-outlet></router-outlet>
    </section>

    <footer class="bg-primary-dark">

      <p>Author: Yo Jo</p>
      
      <p>Telefon: + 49 (0) 179 3946067<br>E-Mail-Adresse:_<a href="mailto:plath.johannes@gmail.com">plath.johannes@gmail.com</a><br><a
        href="tel:+ 49 (0) 179 3946067">Yo anrufen</a><br><a href="tel:+ 49 (0) 179 3946067"></a></p>

    </footer>
  </main>
</div>
