<div class="body" >
  <div class="LoginArea">
    <form class="AdminSelectBottom">
      <h1>where you wanna go?:</h1><br>
    </form>
    <form class="AdminSelectBottom" action="StudentCom.html">
      <div class="normalText">
        <button id="StudentsButton" type="submit"  >Students</button>
      </div>
    </form>
    <form class="AdminSelectBottom" action="StuffCom.html">
      <div class="normalText">
        <button id="StuffButton" type="submit" value="Submit">Stuff</button>
      </div>
    </form>
  </div>
</div>
