<div class="LoginArea" style="left: 20%">
  <div class="logIn">
    <form [formGroup]="adminForm" novalidate (ngSubmit)="logInCheckAdmin()">
      <h1>LogIn as Admin:</h1> <br>
      <div class="normalText">
        <label for="famNameA" label.disabel="false">Nachname:</label>
        <input formControlName="famNameA" autocomplete="off" type="text" name="famNameA" id="famNameA"><br>
        <label for="surNameA">Vorname: </label>
        <input formControlName="surNameA" autocomplete="off" type="text" name="surNameA" id="surNameA"><br>
        <label for="passWordA">Passwort: </label>
        <input formControlName="passWordA" autocomplete="off" type="password" name="passWordA" id="passWordA"><br>
        <button id="btnSubmit" button.disabled="false" type="submit" value="Submit" onclick="">Submit</button>
      </div>
    </form>
  </div>

  <div class="logIn">
    <form [formGroup]="studentForm" novalidate (ngSubmit)="logInCheckStudent()">
      <h1>LogIn as Staff:</h1> <br>
      <div class="normalText">
        <label for="famNameS">Nachname:</label>
        <input formControlName="famNameS" autocomplete="off" type="text" name="famNameS" id="famNameS"><br>
        <label for="surNameS">Vorname:</label>
        <input formControlName="surNameS" autocomplete="off" type="text" name="surNameS" id="surNameS"><br>
        <label for="passWordS">Passwort:</label>
        <input formControlName="passWordS" autocomplete="off" type="password" name="passWordS" id="passWordS"><br>
        <button id="btnSubmitStuff" button.disabled="false" type="submit" value="Submit" onclick="">Submit</button>
      </div>
    </form>

  </div>

</div>
<div class="LoginArea">

  <button (click)="directToNewAccount()">New Account</button>
</div>
