<div class="body">
  <div class="LoginArea">
    <div class="AdminSelectBottom">
      <h1>Students-Managemant</h1>
    </div>
    <div class="AdminSelectBottom">
      <div action="AdminAddStudents.html">
        <div class="normalText">
          <button (click)="directToAdminAddStudent()">Add:
          </button>
        </div>
      </div>
    </div>
    <div class="AdminSelectBottom">
      <div class="normalText">
        <div action="none">
          <button (click)="directToAdminRemove()">Remove:</button>
        </div>
      </div>
    </div>
    <div class="AdminSelectBottom">
      <div class="normalText">
        <div action="none">
          <button (click)="directToAdminUpdate()">Update:</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div CLASS="LoginArea" style="justify-content: space-around">
    <div class="drum" style="position: center">
      <select name="courseOptions" class="dropdown" id="SS/WS" required onchange="showSelectedList()"
              style="left: 300px">
        <option value="Summer">Select by SummerS.</option>
        <option value="Winter">Select by WinterS.</option>

      </select>
    </div>
    <br>
    <div class="drum" style="position: center">
      <select name="courseOptions" class="dropdown" id="Department" required onchange="showSelectedList()"
              style="left: 300px">
        <option value="Maschienenbau">Maschienenbau</option>
        <option value="IT">Indivatik</option>
        <option value="Wirtschaftswissenschaft">Wirtschaftswissenschaft</option>
        <option value="WEB">Web Dev.</option>
      </select>
    </div>


  </div>


  <div class="list">
    <h2>actual list of students:</h2>
    <ul id="actualisedList">
    </ul>
  </div>
</div>
