<h1> Disclaimer: </h1>
<div class="LoginArea">
  <div class="hauptseite">


    <h2> keine Haftung: </h2>
    <p> ..................................... texte......................... text ......................
      texte..................................... texte......................... text ......................
      texte..................................... texte......................... text ......................
      texte..................................... texte......................... text ......................
      texte...............<br>...................... texte......................... text ......................
      texte...................</p>
    <h2>Und noch unwichtiger: </h2>
    <p>.................. texte......................... text ......................
      texte..................................... texte......................... text ......................
      texte..................................... texte......................... text ......................
      texte..................................... texte......................... text ......................
      texte..................................... texte......................... text ......................
      texte..................................... texte......................... text ......................
      texte.............................
    <p>

    <h2> also gar keine Haftung, weil... is halt so </h2>
  </div>
</div>
